<ion-view view-title="Login" style="background: #f9720f" hide-nav-bar="true">
  <ion-content class="center" has-bouncing="true" scrollbar-y="false">

        <div style="background: #f9720f">;

            <img src="img/pixalogo1.png" class="logoimg"/>
            <button class="button button-block button-positive" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>

        </div>
  </ion-content>
</ion-view>